<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="@Url.Content("~/css/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/font-awesome/4.2.0/css/font-awesome.min.css")" />

    <!-- page specific plugin styles -->
    <link rel="stylesheet" href="@Url.Content("~/css/jquery-ui.min.css")" />
    <!-- text fonts -->
    <link rel="stylesheet" href="@Url.Content("~/css/fonts.googleapis.com.css")" />

    <!-- ace styles -->
    <link rel="stylesheet" href="@Url.Content("~/css/ace.min.css")" class="ace-main-stylesheet" id="main-ace-style" />

    <!--[if lte IE 9]>
        <link rel="stylesheet" href="@Url.Content("~/css/ace-part2.min.css")" class="ace-main-stylesheet" />
    <![endif]-->
    <link rel="stylesheet" href="@Url.Content("~/css/ace-skins.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/ace-rtl.min.css")" />
    <!--[if lte IE 9]>
      <link rel="stylesheet" href="@Url.Content("~/css/ace-ie.min.css")" />
    <![endif]-->

</head>

<body class="no-skin" style="background:#ffffff">
    <div class="main-content">
        <div class="main-content-inner">
            <div class="page-content">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="widget-box">
                            <div class="widget-header widget-header-flat">
                                <h4 class="widget-title smaller">
                                    <i class="ace-icon fa fa-desktop smaller-80"></i>
                                    服务器信息
                                </h4>
                            </div>

                            <div class="widget-body">
                                <div class="widget-main">
                                    @{
                                        await Html.RenderPartialAsync("SystemInfo");
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="widget-box">
                            <div class="widget-header widget-header-flat">
                                <h4 class="widget-title smaller">
                                    <i class="ace-icon fa fa-clock-o"></i>
                                    实时信息
                                </h4>
                            </div>

                            <div class="widget-body">
                                <div class="widget-main">
                                    @{
                                        await Html.RenderPartialAsync("RealTimeInfo");
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.main-container -->
    <!-- basic scripts -->
    <!--[if !IE]> -->
    <script src="@Url.Content("~/js/jquery-2.1.1.min.js")"></script>

    <!-- <![endif]-->
    <!--[if IE]>
    <script src="@Url.Content("~/js/jquery-1.11.1.min.js")"></script>
    <![endif]-->
    <!-- page specific plugin scripts -->
    <script src="@Url.Content("~/js/jquery.easypiechart.min.js")"></script>
    <script>
        var oldie = /msie\s*(8|7|6)/.test(navigator.userAgent.toLowerCase());
        $('.easy-pie-chart.percentage').each(function () {
            $(this).easyPieChart({
                barColor: $(this).data('color'),
                trackColor: '#EEEEEE',
                scaleColor: false,
                lineCap: 'butt',
                lineWidth: 10,
                animate: oldie ? false : 1000,
                size: 50
            }).css('color', $(this).data('color'));
        });
    </script>
</body>
</html>
