
<dl id="dt-list-1">
    <dt>启动时间</dt>
    <dd>@ViewBag.time</dd>
    <dd><div class="space-4"></div></dd>
    <dt>系统架构</dt>
    <dd>@ViewBag.os</dd>
    <dd><div class="space-4"></div></dd>
    <dt>系统版本</dt>
    <dd>@ViewBag.version</dd>
    <dd><div class="space-4"></div></dd>
    <dt>系统信息</dt>
    <dd>@ViewBag.description</dd>
    <dd><div class="space-4"></div></dd>
    <dt>CPU数量</dt>
    <dd>@ViewBag.count</dd>
    <dd><div class="space-4"></div></dd>
    <dt>主机名</dt>
    <dd>@ViewBag.host</dd>
    <dd><div class="space-4"></div></dd>
</dl>