<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="@Url.Content("~/css/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/font-awesome/4.2.0/css/font-awesome.min.css")" />

    <!-- page specific plugin styles -->
    <link rel="stylesheet" href="@Url.Content("~/css/jquery-ui.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/ui.jqgrid.min.css")" />

    <!-- text fonts -->
    <link rel="stylesheet" href="@Url.Content("~/css/fonts.googleapis.com.css")" />

    <!-- ace styles -->
    <link rel="stylesheet" href="@Url.Content("~/css/ace.min.css")" class="ace-main-stylesheet" id="main-ace-style" />

    <!--[if lte IE 9]>
        <link rel="stylesheet" href="@Url.Content("~/css/ace-part2.min.css")" class="ace-main-stylesheet" />
    <![endif]-->
    <link rel="stylesheet" href="@Url.Content("~/css/ace-skins.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/ace-rtl.min.css")" />

    <!--[if lte IE 9]>
      <link rel="stylesheet" href="@Url.Content("~/css/ace-ie.min.css")" />
    <![endif]-->
    <style>
        .left {
            float: left;
        }

        label {
            margin-top: 3px;
        }

        input, select {
            height: 29px;
            width: 100%;
        }
    </style>

    <!-- basic scripts -->
    <!--[if !IE]> -->
    <script src="@Url.Content("~/js/jquery-2.1.1.min.js")"></script>
    <!-- <![endif]-->
    <!--[if IE]>
    <script src="@Url.Content("~/js/jquery-1.11.1.min.js")"></script>
    <![endif]-->
    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='@Url.Content("~/js/jquery.mobile.custom.min.js")'><" + "/script>");
    </script>
    <script src="@Url.Content("~/js/bootstrap.min.js")"></script>

    <!-- page specific plugin scripts -->
    <script src="@Url.Content("~/js/jquery.jqGrid.min.js")"></script>
    <script src="@Url.Content("~/js/i18n/grid.locale-cn.js")"></script>
    <script src="@Url.Content("~/js/highcharts.js")"></script>
    <script>
        //replace icons with FontAwesome icons like above
        function updatePagerIcons(table) {
            var replacement = {
                'ui-icon-seek-first': 'fa fa-angle-double-left bigger-140',
                'ui-icon-seek-prev': 'fa fa-angle-left bigger-140',
                'ui-icon-seek-next': 'fa fa-angle-right bigger-140',
                'ui-icon-seek-end': 'fa fa-angle-double-right bigger-140'
            };
            $('.ui-pg-table:not(.navtable) > tbody > tr > .ui-pg-button > .ui-icon').each(function () {
                var icon = $(this);
                var $class = $.trim(icon.attr('class').replace('ui-icon', ''));
                if ($class in replacement)
                    icon.attr('class', 'ui-icon ' + replacement[$class]);
            })
        }

        $.fn.extend({
            selectFirstRow: function () {
                var ids = this.getDataIDs();
                if (ids.length > 0)
                    this.setSelection(ids[0]);
            }
        });

    </script>
</head>
<body>
    <div class="main-container">
        @RenderBody()
    </div>
    @Html.AntiForgeryToken()
</body>
</html>
