@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script type="text/javascript">
    var grid_selector = "#gridMain";
    var pager_selector = "#pagerMain";
    $(function () {
        var gridOpt = getGridOption(
            grid_selector, pager_selector, {
                url: "@Url.Action("GetPageList")",
                colModel: [
                    { label: 'ID', name: 'DeptID', width: 50, sorttype: "int", key: true },
                    { label: '部门名称', name: 'DeptName', width: 70 },
                    { label: '上级部门', name: 'ParentName', width: 70 },
                    { label: '部门编码', name: 'Code', width: 70 },
                    { label: '排序码', name: 'Sort', width: 70 }
                ],
                sortname: 'DeptID',
            });
        $(grid_selector).jqGrid(gridOpt);
    });
    function Add() {
        modalOpen({
            title: "部门管理 - 新增",
            url: "@Url.Action("Form")",
            callback: function () {
                modalContent().submitForm(function () {
                    Refresh();
                });
            }
        });
    }
    function Edit() {
        var sid = $(grid_selector).jqGrid('getGridParam', 'selrow');
        if (sid == null) { alert("没有任何选中行！"); return; }
        modalOpen({
            title: "部门管理 - 编辑",
            url: "@Url.Action("Form")" + "?id=" + sid,
            callback: function () {
                modalContent().submitForm(function () {
                    Refresh();
                });
            }
        });
    }
    function Delete() {
        var sid = $(grid_selector).jqGrid('getGridParam', 'selrow');
        if (sid == null) { alert("没有任何选中行！"); return; }
        modalConfirm({
            text: "确定删除该记录吗？",
            callback: function () {
                deleteForm({
                    url: "@Url.Action("Delete")" + "?id=" + sid,
                    complete: function () {
                        modalConfirmClose();
                        Refresh();
                    }
                });
            }
        });
    }
    function View() {
        var sid = $(grid_selector).jqGrid('getGridParam', 'selrow');
        if (sid == null) { alert("没有任何选中行！"); return; }
        modalOpen({
            title: "部门管理 - 查看",
            url: "@Url.Action("Form")" + "?id=" + sid,
            view: true
        });
    }
    function Refresh() {
        $(grid_selector).setGridParam({
            postData: {
                search: $('#txtSearch').val()
            },
        }).trigger('reloadGrid');
    }
</script>
<div>
    <div class="btn-group">
        <button class="btn btn-sm btn-primary" onclick="Add()">
            <i class="ace-icon fa fa-plus-circle bigger-110"></i>新增
        </button>
        <button class="btn btn-sm btn-success" onclick="Edit()">
            <i class="ace-icon fa fa-pencil bigger-110"></i>编辑
        </button>
        <button class="btn btn-sm btn-danger" onclick="Delete()">
            <i class="ace-icon fa fa-minus-circle bigger-110"></i>删除
        </button>
        <button class="btn btn-sm btn-yellow" onclick="View()">
            <i class="ace-icon fa fa-search-plus bigger-110"></i>查看
        </button>
        <input type="text" class="search" id="txtSearch" placeholder="部门ID、名称、编码" />
        <script>
            $('#txtSearch')[0].onkeydown = function (e) {
                if (e.keyCode == 13) {
                    Refresh();
                }
            }
        </script>
        <button class="btn btn-sm btn-info" onclick="Refresh()">
            <i class="ace-icon fa fa-refresh bigger-110"></i>刷新
        </button>
    </div>
    <table id="gridMain"></table>
    <div id="pagerMain"></div>
</div>